:root {
  --based-color: #fdf2fb;
  --highlight-color: #c3d2f4;
  --default-font: "Ubuntu", sans-serif;
  --paragraph-font: "Kreon", serif;
  --playful-font: "Nanum Pen Script", cursive;
}

body {
  font-family: var(--default-font);
}

h1 {
  font-size: 100px;
}
h2 {
  font-size: 58px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 24px;
}
p {
  font-family: var(--paragraph-font);
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #6092ff;
}

.full-button {
  margin-top: 50px;
  background-color: var(--highlight-color);
}
.full-button:hover {
  color: white;
  font-weight: 400;
}

/* Home */
.hero {
  background-color: var(--based-color);
  text-align: center;
  padding: 150px;
}
.hero p {
  font-family: var(--playful-font);
  font-size: 34px;
  margin-bottom: 0;
}
.hero h3 {
  font-size: 24px;
}
.hero h1 {
  text-shadow: var(--highlight-color) 2px 0 12px;
}

.project-button {
  margin: 15px 0;
  background-color: #ebf2ff;
  border: 2px solid var(--highlight-color);
}
.project-button:hover {
  background: var(--highlight-color);
  box-shadow: 0 0 14px var(--highlight-color), 0 0 14px var(--highlight-color),
    0 0 50px var(--highlight-color), 0 0 200px var(--highlight-color);
}

/* Header */
.about-section,
.project-content,
.contact-content {
  margin-top: 50px;
  padding: 100px;
}

/* About Page */
.about-section h4 {
  margin: 60px 0;
}
.about-section a {
  margin: 20px 0;
}

/* Project Page */
.project-content h2 {
  margin: 50px 0;
}
.project-content h3 {
  margin-top: 15px;
}
.project-content a {
  margin: 10px 0;
}

/* Contact Page */
.contact-content p {
  font-family: var(--playful-font);
}
.contact-content h2 {
  margin-bottom: 30px;
}
.contact-content h4 {
  margin-top: 30px;
}
/* Typing Effect */
.typewriter {
  overflow: hidden;
  border-right: 3px solid orange;
  white-space: nowrap;
  display: inline-block;
  animation: typing 5s steps(35, end) forwards, blink 0.8s infinite;
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: orange;
  }
}

/* For smaller devices */
@media (max-width: 576px) {
  /* Header */
  .about-section,
  .project-content,
  .contact-content {
    margin-top: 60px;
    padding: 30px;
  }

  /* Paragraph with --playful-font */
  .hero p,
  .contact-content p {
    font-size: 16px;
    margin-bottom: 0;
  }

  /* Home */
  .hero {
    padding: 100px 25px;
  }
  .hero h3 {
    font-size: 14px;
  }
  .hero h1 {
    font-size: 42px;
    padding-top: 0;
    padding-bottom: 15px;
  }
  .project-button {
    margin: 15px 0;
  }
  .project-list {
    padding: 0;
  }

  /* About */
  .about-section h4 {
    margin: 20px 0;
  }

  /* Project Page */
  .project-content a {
    margin: 3px 0;
  }

  /* Contact Page */
  .contact-content h4 {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .contact-content h2 {
    margin-bottom: 20px;
  }

  /* Font Size */
  .about-section h2,
  .project-content h2,
  .contact-content h2 {
    font-size: 32px;
  }

  .project-list h3,
  .project-content h3 {
    font-size: 30px;
  }

  .about-section h4,
  .contact-content h4 {
    font-size: 18px;
  }

  .project-list p,
  .about-section p,
  .project-content p,
  .project-button,
  .contact-content a {
    font-size: 14px;
  }
}
